/*nifty-tabs.css*/ 
/*html, body {margin:0;padding:0;
}*/
body { background: #FFF; color:black; padding:0; margin:0; font: 100% Arial;
}
header, footer, section, article, nav { display:block; 
}
header { padding-top:-10px; margin-top:-10px; height:156px; width:100%;
max-width:1017px; min-width:960px; margin:auto; text-align:center; background-image:url('images/bluepan.jpg'); 
background-repeat:no-repeat; background-position:center; border-bottom:0; 
}
h1 { font-family:Arial; font-size:250%; color:white; font-weight:normal; margin-top:0; margin-bottom:5px; padding-top:10px;
}
h2 { font-family:Arial; font-size:180%; color:white; font-weight:normal; margin-top:0; margin-bottom:5px;
}
h3 { font-family:Arial; font-size:150%; color:white; font-weight:normal; margin-top:0;
}
nav { float:left;width: 100%; margin-top:0; padding-top:5px; background:#002455;
}
ul#nav li { list-style-type:none;margin:0;padding:0; float:left; margin-right: 3px; text-align: center;
}
ul#nav { margin-left: 60px; width:750px;
}
ul#nav a { float:left; width:7em; padding: 6px 0; text-decoration:none; color: #000; font-weight:bold;
}
ul#nav a:hover { color: #000;
}
ul#nav li.activelink a { background: #FFF; 
}
ul#nav li.activelink a,ul#nav a:hover { color: #000; font-weight:bold; 
}
li#home a { background: #FF749C; 
}
li#about a { background: #DF3694;
}
li#prod a { background: #4D80FF;
}
li#serv a { background: #80FF4D;
}
li#cont a { background: #FFCB4D;
}
 