#wrapper {
	width:320px; height:420px; margin:auto;
}
#background-container {width:300px; height:400px; margin:auto;
	background:url(images/blugrad500.jpg) repeat-x;
}
#clipboard {width:300px; height:400px;
background: url(images/clipbrd.gif) no-repeat 50% 50%;
}
#beetle {width:300px; height:400px;
background:	 url(images/Beetle.gif) no-repeat 50% 55%;
}
