/*equalise all the margins, paddings and borders built into various browsers*/  
div body header #content { margin:0; padding:0; border:0; 
}
body { background:#FFF url(images/green-grad.jpg) repeat-x; margin:auto;
}
/*add display attributes for the semantic tags*/
header, footer, section, article, nav { display:block; 
}
header {width:920px; height:180px; padding:0; border:10px white solid; 
  background: url(images/header3.jpg); margin:10px auto; 
}
h1 { font-size:300%; color :white; position: relative; left:90px; top: 55px; width:480px; 
}
#rosette { position:relative; left:750px; top:5px; }


#content { background-color:transparent; border-left:10px white solid; border-right:10px white solid; 
border-bottom:10px white solid; width: 904px; margin-top:-10px; margin-left:auto; margin-right:auto; padding:8px; font-size:medium; color:maroon; 
}
h2 { font-size:x-large; color:white; margin:0 0 10px 0; 
}
h3 { font-size:large; color:white; margin:0 0 6px 0; 
}
#leftcol { float:left; width: 310px; vertical-align:top; 
}
#rightcol { width: 135px; float:right; height: 252px; margin-right:10px;
}
#midcol { 	margin-left:315px; margin-right:145px; margin-top:10px; vertical-align:top; 
}
/* set side menu block position and width*/
nav { margin:10px 30px 0 10px; width:135px; float:right; 
}
/*Set list style within the menu block only. This removes bullets*/
nav li { list-style-type:none; 
}	
/* set general side button styles */
nav li { margin-bottom: 3px; text-align: center; width:130px;
}
/* set general anchor styles and include the zoom fix for IE6*/
nav li a { display: block; color: white; font-weight: bold; text-decoration: none; zoom:1;
}
/* specify mouse state styles */
/* mouseout (default) */
nav li a { background:#559a55; color: white; border: 5px outset #559a55; padding-bottom:3px;
}
/* mouseover */
nav li a:hover { background: red;  color:white; border: 5px outset red;
}
/*mouse active*/
nav li a:active { background:maroon;  border: 5px inset maroon; 
}
br.clear { 	clear:both; 
}
#midcol img { margin-left:10px; 
}
footer { clear:both; color:maroon; text-align:center; 
}
