/*SET 4 SIDED SHADOW*/
/*body {
	background-color:aqua;
}*/
.shadow-one {position:absolute; padding-top:20px; padding-left:20px; }

.corner-a {position:absolute; right:0; top:0; width:20px; height:20px; background:url('images/shadow10p.png') right top no-repeat; }

.corner-b {position:absolute; left:0; bottom:0; width:20px; height:20px; background:url('images/shadow10p.png') left bottom no-repeat;}

.shadow-two { position:relative; background :url('images/shadow10p.png') right bottom no-repeat;}
	
.shadow-three { position:relative; left:-20px; top:-20px;  background:url('images/shadow10p.png') left top no-repeat; }

.shadow-four {	position:relative; left:10px; top:10px; }	

/*.corner-a,
.corner-b,
.shadow-two,
.shadow-three {
	background: url(shadow10p.png) no-repeat;
  }*/  /* This rule calls the BG image for all divs that need it, so only one path needs to change
  when switching to a different shadow image.*/ 		
