body {
	background-color:#FFF; font:black arial medium;
}
.top-right-corner {
	background:url('images/top-rightcorner.png') no-repeat right top;
	width: 220px;
}
.bottom-left-corner {
	background:url('images/bottom-leftcorner.png') no-repeat left bottom;
	padding-top:8px;
	padding-left:8px;
}
.shadowbox {
	background:url('images/main-shadow.png') right bottom;
}
.innerbox {
	position: relative;
	left:-8px;
	top:-8px;
}
.innerbox p {
	margin:0; padding:5px; width:200px; border:1px silver solid;
}
